*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2{
	text-align: right;
	color: grey;
	font-family: 'Montserrat', sans-serif;
}
footer{text-align: center;
      color: grey;
      font-size: 12px;
}
h3{text-align: center;
	border: 1px solid;
			border-radius: 5px;
			padding: 10px;
			margin: 30px 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 25px;
			font-weight: bold;
			background-color: navajowhite;
			opacity: 0.5;
}
.main-headers{
	background-image: url(../img/img2.jpg);
	height: 350px;
			background-position: center;
			background-size: cover;
		
}
img{
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
width: 100%;
height: auto;
} 
p{
	margin: 30px 0;
	font-family: 'Mulish', sans-serif;
}
ul{
	font-family: 'Prata', serif;
	padding-left: 30px;

}			
li{
	margin-top: 20px ;}
.t1{
	width: 90%;
	margin: auto;
	background-color: slategrey;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
.menu{
	width: 100%;
	padding: 20px 0;
	background-color: slategrey;
	margin-bottom: 40px;
}
.menu td{
	text-align: center;
	max-width: 50px;
}
button{font-size: 15px;
padding: 5px 15px;
border-radius: 30px;
}
.menu button:hover{
	transform: scale(1.1);
transition: 0.5s;

box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
color: blue;
background-color: black;}
.menu button:active{
	background-color: #green;
}
.p1:hover{
	text-decoration: underline;
}
.p1:active{
	font-weight: bold;
}
body{
	background: url("../img/1613304999_164-p-sinii-neon-fon-184.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}